<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.0/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         backupGlobals="false"
         verbose="true">

    <testsuites>
        <testsuite name="models">
            <directory>./test</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist
                addUncoveredFilesFromWhitelist="true"
                processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../coverage</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="./test/coverage/html/"/>
    </logging>

</phpunit>
